

/* helpers/grid.css */

.grid
 {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  max-width: 20rem;
  width: 90%;
  margin-top: 200px;
  position:center;
  overflow: auto;
}

/* helpers/hidden.css */

.hidden
 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* helpers/icon.css */

.icons {
  display: none;
}

/*
.icon {
  display: inline-block;
  fill: white;
  font-size: 16px;
  font-size: 1rem;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}
*/
/* layout/base.css */

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html 
{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

body 
{
  background-color: white;
  color: #33cccc;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

/* modules/anchor.css */

a 
{
  color: #eee;
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* modules/form.css */

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

input[type='submit'] {
  cursor: pointer;
}

.form {
  margin: -14px;
  margin: -0.875rem;
}

.form input[type='password'],
.form input[type='text'],
.form input[type='submit'] {
  width: 100%;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px;
  margin: 0.875rem;
  position:relative;
  color:white;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* modules/login.css */

.login {
  color: #eee;
}

.login label,
.login input[type='text'],
.login input[type='password'],
.login input[type='submit'] {
  border-radius: 0.25rem;
  padding: 16px;
  padding: 1rem;
}

.login label {
  background-color: #191919; /* icon next to username and password in login */
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
}

.login input[type='password'],
.login input[type='text'] {
  background-color: black; /* username and password container color */
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.login input[type='password']:focus,
.login input[type='password']:hover,
.login input[type='text']:focus,
.login input[type='text']:hover {
  background-color: #434a52; /* hover color over signin */
}

.login input[type='submit'] {
  background-color: #33cccc;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
}

.login input[type='submit']:focus,
.login input[type='submit']:hover {
  background-color: #33cccc; /* hover over sign-in */
}

/* modules/text.css */

p {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}

.text--center {
  text-align: center;
}





/* ------------------------------    MENU OPTIONS ---------------------------------------------  */
#finks  /* name button */
{
    float:left;
    font-size: 25px;
    padding: 14px 16px;

}
#login  /* login button */
{
    float: right;
    padding: 24px 16px;
    font-size:12px;

}
#home
{
    float:right;
     padding: 24px 16px;
     font-size:12px;

}

.navbar /* menu container */
 {
  
    background-color: black; /* menu bar color, dark grey */
    height: 65px;
    position:absolute;
    width: 100%;
    top:0px;

}

.navbar a  /* Menu Text/Words */
{
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown /* Drop menu effects, Links inside browse  */
 {
    font-size:10px;
    float:right;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;

}

.dropdown .dropbutton /*BROWSE menu option*/
 {
    
    float:right; 
    border: none;
    outline: none;
    color: white;
    padding: 24px 16px;
    background-color: inherit;
    font-family: Arial, Helvetica, sans-serif;
  

}

.navbar a:hover, .dropdown:hover .dropbutton 
{
    background-color: grey;
}

.dropdown-content
 {
    display: none;
    position: absolute;
    top: 65px;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
}

.dropdown-content a 
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size:12;
}

.dropdown-content a:hover 
{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content 
{
    display: block;
}
/* --------------------------------------------------------------------------------------------------------------------- */
