/* https://thumb.ibb.co/iqyngn/vsco_060617.jpg */
body
 {
  font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif;
  background: white; /* page background color */
}

a,
[type="submit"] {
  transition: all .25s ease-in;
}

.signup__container 
{
  margin-top: 70px;
  position: absolute;
  top: 55%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60rem;
  height: 40rem;
  border-radius: .2rem;
  border-color: black;
  box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, .7);
}

.signup__overlay /* Left side of sign up page, contains background image  */ 
 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #33cccc /*rgba(0, 0, 0, 0); /* Transparency of background image */
}

.container__child {
  width: 50%;
  height: 100%;
  /*color:red; */
}

.signup__thumbnail {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* background: url(https://thumb.ibb.co/ifqPBn/IMG_1963.jpg); */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

}

.thumbnail__logo,
.thumbnail__content,
.thumbnail__links {
  position: relative;
  z-index: 2;
}

/*
.thumbnail__logo {
  align-self: flex-start;
}
*/
/*
.logo__shape
 {
  fill: black;
}
*/
.logo__text {
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  vertical-align: bottom;
}

.thumbnail__content {
  align-self: center;
}

h1,
h2 {
  font-weight: 300;
  color: white;
}

.heading--primary {
  font-size: 1.999rem;
}

.heading--secondary {
  font-size: 1.414rem;
}

.thumbnail__links {
  align-self: flex-end;
  width: 100%;
}

.thumbnail__links a {
  font-size: 1rem;
  color: #fff;
}
.thumbnail__links a:focus, .thumbnail__links a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.signup__form {
  padding: 2.5rem;
  background: #fafafa;
}

label
 {
  font-size: .85rem;
  text-transform: uppercase;
  color: #ccc;
}

.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.form-control:focus {
  border-color: #111;
}

[type="text"] {
  color: #111;
}

[type="password"] {
  color: #111;
}

.btn--form {
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #33cccc;
  background: black;
  border-radius: 2.1875rem;
}
.btn--form:focus, .btn--form:hover {
  background: #323232;
  background-color:grey;
}

.signup__link
 {
  font-size: .8rem;
  font-weight: 600;
  text-decoration: underline;
  color: black;
}
.signup__link:focus, .signup__link:hover {
  color: #787878;
}






/* ------------------------------------------------------------------------------------------------------------------- */



#finks  /* name button */
{
    float:left;
    font-size: 25px;
    padding: 10px 16px;

}
#login  /* login button */
{
    float: right;
    padding: 20px 16px;
    font-size:12px;

}
#home
{
    float:right;
     padding: 20px 16px;
     font-size:12px;

}
body
{

    /* background-color:white;*/
    margin: 0; /* helps fit menu to page */
}

.navbar /* menu container */
 {
  
    background-color: black; /* menu bar color, dark grey */
    height: 65px;
    position:absolute;
    width: 100%;
    -webkit-border-radius:0; /* prevents navbar corners from being rounded */
    -moz-border-radius:0;  /* keeps navbar corners from being round */
    border-radius:0; /* keeps navbar corners from rounding */
   

}

.navbar a  /* Menu Text/Words */
{

    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown /* Drop menu affects, Links inside browse  */
 {
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;


}

.dropdown .dropbutton /*BROWSE menu option*/
 {
    
    float:right; 
    border: none;
    outline: none;
    color: white;
    padding: 20px 16px;
    background-color: inherit; 
    font-family: Arial, Helvetica, sans-serif;
  

}

.navbar a:hover, .dropdown:hover .dropbutton 
{
    background-color: grey;
}

.dropdown-content
 {
    display: none;
    position: absolute;
    top: 65px;
    background-color: white;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 0;
}

.dropdown-content a 
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size:12;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content 
{
    display: block;
}












